# 
numpy

# 
pytesseract>=0.3.10

# 
torch
torchvision
torchaudio

# 
PyMuPDF
opencv-python-headless
Pillow
pdf2image

# 
faiss-cpu
open-clip-torch
sentencepiece
transformers

# 
pyyaml
rapidfuzz
tqdm
pytest
loguru
pydantic
waitress

# 
scikit-image
shapely
pyclipper

# 
Flask
flask-wtf
wtforms
